<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/public/favicon.ico">
        <meta name="viewport" content="width=1152, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    </head>
    <body class="container is-fluid">
        <section class="section">
            {{> banners/simple_banner}}
            {{!-- <section class="section"> --}}
            <div class="content">
                {{{ content }}}
            </div>
            {{!-- </section> --}}
            {{> default_foot}}

        </section>
    </body>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</html>
